In [10]:
#https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

In [11]:
#import necessary libraries
import numpy as np 
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.offline as offline
import plotly.graph_objs as go

In [12]:
plotly.tools.set_credentials_file(username='akurgat', api_key='Jud1SQj1lbS6w5pznJgt')

In [13]:
df = pd.read_excel('ca.xlsx')
df.head()

,city,lat,lng,country,iso2,admin,capital,population,population_proper
0,Toronto,43.666667,-79.416667,Canada,CA,Ontario,admin,5213000,3934421
1,Montréal,45.500000,-73.583333,Canada,CA,Québec,NaN,3678000,2356556
2,Vancouver,49.250000,-123.133333,Canada,CA,British Columbia,NaN,2313328,603502
3,Ottawa,45.416667,-75.700000,Canada,CA,Ontario,primary,1145000,812129
4,Calgary,51.083333,-114.083333,Canada,CA,Alberta,NaN,1110000,915322

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 9 columns):
city                 247 non-null object
lat                  247 non-null float64
lng                  247 non-null float64
country              247 non-null object
iso2                 247 non-null object
admin                247 non-null object
capital              14 non-null object
population           247 non-null int64
population_proper    247 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 17.4+ KB

In [15]:
df.describe()

              lat         lng    population  population_proper
count  247.000000  247.000000  2.470000e+02       2.470000e+02
mean    52.922777  -91.917140  9.365829e+04       6.671848e+04
std      7.340857   22.935838  4.510522e+05       3.120743e+05
min     42.301649 -139.450000  0.000000e+00       0.000000e+00
25%     48.183334 -112.750000  1.089000e+03       1.066000e+03
50%     50.933333  -89.233333  5.043000e+03       4.331000e+03
75%     55.783333  -73.096227  2.591750e+04       2.435050e+04
max     82.483333  -52.666667  5.213000e+06       3.934421e+06

In [16]:
population = list(df['population_proper'].value_counts().index)
population

[398,
 3743,
 870,
 448,
 10,
 9889,
 1109,
 156,
 1183,
 73593,
 3071,
 37538,
 222874,
 54948,
 53940,
 1326,
 18083,
 152,
 4249,
 54449,
 3222,
 6292,
 549,
 20625,
 654,
 30349,
 99182,
 4746,
 6278,
 32901,
 151683,
 175,
 1204,
 12467,
 2182,
 12003,
 8418,
 1248,
 11302,
 3802,
 116409,
 3934421,
 2260,
 528595,
 722,
 4816,
 58571,
 712391,
 2174,
 7366,
 197,
 2244,
 10435,
 15551,
 1725,
 273,
 335035,
 4281,
 184,
 7862,
 247989,
 1151,
 124,
 1661,
 8224,
 482,
 1595,
 597,
 176183,
 82998,
 1584,
 5678,
 1069,
 3625,
 1063,
 34342,
 26149,
 3102,
 3648,
 9243,
 538,
 409112,
 1047,
 68628,
 16403,
 2919,
 1549,
 25099,
 518,
 2052,
 0,
 31293,
 3654,
 51942,
 10852,
 80507,
 34426,
 120,
 1655,
 588,
 12916,
 1597,
 80491,
 106,
 2663,
 24678,
 75877,
 812129,
 2631,
 97374,
 604,
 89,
 25686,
 9813,
 5203,
 4689,
 153,
 4173,
 1612,
 95306,
 73,
 1765,
 685,
 23272,
 40845,
 119732,
 431,
 87467,
 278,
 129447,
 102,
 442,
 923,
 26234,
 5527,
 1939,
 4496,
 5003,
 2068,
 5000,
 9607,
 385,
 915322,
 3961,
 1400,
 53626,
 374,
 10101,
 14708,
 6002,
 22625,
 9653,
 1466,
 603502,
 452,
 1290,
 17402,
 11642,
 6315,
 19445,
 30707,
 335,
 4627,
 6124,
 17894,
 30178,
 251358,
 13788,
 2500,
 17370,
 2009,
 24023,
 43990,
 1868,
 34772,
 23,
 3022,
 210891,
 12744,
 3220,
 7927,
 14703,
 7533,
 224,
 263,
 5405,
 283,
 229,
 262,
 1302,
 277,
 3345,
 13583,
 270,
 519949,
 1802,
 189193,
 774,
 802,
 18693,
 3331,
 1281,
 35584,
 1273,
 2295,
 7181,
 62707,
 70,
 505,
 748,
 4331,
 2334,
 294,
 54123,
 2893,
 36713,
 21863,
 125,
 1372,
 471,
 1369,
 1477,
 26453,
 852,
 575313,
 41807,
 23886,
 2356556,
 1319,
 15686,
 6469,
 834,
 5438,
 4441,
 10554,
 28984,
 10551,
 817,
 303,
 46382,
 1320,
 102400]

In [17]:
data = []
for persons in population:
    population_data = dict(
            lat = df.loc[df['population'] == persons,'lat'],
            lon = df.loc[df['population'] == persons,'lng'],
            name = persons,
            marker = dict(size = 8, opacity = 0.5),
            type = 'scattermapbox'
        )
    data.append(population_data)

mapbox_access_token = 'pk.eyJ1IjoiYWt1cmdhdCIsImEiOiJjanoyc3ByZWwwMGJ2M2NzNGM1dTlocGZzIn0.Ic2lo-f1OxZ1dqBxCATgzg'

layout = dict(
    height = 800,
    margin = dict(t=0, b=0, l=0, r=0),
    font = dict(color='#FFFFFF', size=11),
    paper_bgcolor = '#000000',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='light'
    ),
)




layout['title'] = 'Population Density'

In [18]:
figure = dict(data=data, layout=layout)
py.iplot(figure, filename="Canada's Population")